@use "../custom" as *;

// Button custom styling
.btn-style {
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
  padding: 0.3rem 1.5rem;
}

.btn-style:hover,
.btn-style:active {
  background: transparent;
}

.btn-green:hover,
.btn-green:active {
  color: $primary;
}

.btn-orange:hover,
.btn-orange:active {
  color: $secondary;
}

// Call to action button on main index(Intro section)
.btn-action:hover,
.btn-action:active {
  background: rgba(244, 143, 60, 0.4);
  color: black;
}

// Card bid button
.btn-bid {
  width: 100%;
  border: 2px solid $primary;
}

.btn-bid:hover,
.btn-bid:active {
  color: black;
  border: 2px solid $primary;
}

// Removes default button styling on heart-like icon, log-out icon
.card-heart-btn,
.log-out-btn {
  all: unset;
}

// Log out button
.log-out-btn,
.subscribe-btn {
  color: $secondary;
}

.log-out-btn:hover,
.log-out-btn:active {
  color: $white;
  text-decoration: underline 3px solid $primary;
}

// Back to listings button on details page
.back-btn {
  color: $dark;
}

.back-btn:hover,
.back-btn:active {
  background-color: $dark;
  color: white;
}

// Listing delete button on edit listing page
.delete-listing-btn {
  max-width: 20rem;
}
