@use "../custom" as *;

// Heart-like icon on cards
.heart-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  color: $black;
  background: $white;
  border-radius: 100%;
  z-index: 1;
  height: 30px;
  width: 30px;
  align-items: center;
  padding: 3px 0 0 7.5px;
}

.heart-icon:hover,
.heart-icon:active {
  background-color: $secondary;
  color: $white;
}

// Log out icon
.log-out-icon,
.user-icon {
  height: 25px;
  width: 25px;
}

// User icon
.user-icon {
  color: $white;
  margin-right: 2rem;
}

.user-icon:hover,
user-icon:active {
  color: $primary;
}
