@use "../../custom" as *;

// Intro section
.intro-section {
  background-image: url(../../../../assets/images/hand-painted-colorful-terrazzo-pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

// Intro section img on the right
.intro-img {
  position: relative;
  top: 6px;
  width: 300px;
}
