// Theme colors
$green-light: #2eed9d;
$orange-light: #f48f3c;
$gray-bg: #303136;
$gray-bg-light: #e3e3e3;

$primary: $green-light;
$secondary: $orange-light;
$dark: $gray-bg;
$info: $gray-bg-light;

// Typography
$headings-font-family: "Raleway", sans-serif;
$display-font-family: "Raleway", sans-serif;

// $input-focus-border-color: tint-color($primary, 100%);

// Import Boostrap
@import "../../node_modules/bootstrap/scss/bootstrap";
